.intro h2 {
    font-size: 25px;
    font-family: "Oswald", sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 100px;
  }
  
  @media only screen and (max-width: 768px) {
    .intro h2 {
        margin-top: 50px;
    }
  }



figure.snip1477 {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 230px;
  /* max-width: 315px; */
  /* width: 100%; */
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  background-color: #000000;
}
figure.snip1477 *,
figure.snip1477 *:before,
figure.snip1477 *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.55s ease;
  transition: all 0.55s ease;
}
figure.snip1477 img {
  max-width: 100%;
  backface-visibility: hidden;
  vertical-align: top;
  opacity: 0.9;
}
figure.snip1477 .title {
  position: absolute;
  top: 52%;
  left: 25px;
  padding: 1px 6px 6px;
}
figure.snip1477 .title:before,
figure.snip1477 .title:after {
  height: 2px;
  width: 400px;
  position: absolute;
  content: '';
  background-color: #ffffff;
}
figure.snip1477 .title:before {
  top: 0;
  left: 10px;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}
figure.snip1477 .title:after {
  bottom: 0;
  right: 10px;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}
figure.snip1477 .title div:before,
figure.snip1477 .title div:after {
  width: 2px;
  height: 300px;
  position: absolute;
  content: '';
  background-color: #ffffff;
}
figure.snip1477 .title div:before {
  top: 10px;
  right: 0;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}
figure.snip1477 .title div:after {
  bottom: 10px;
  left: 0;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}
figure.snip1477 h2,
figure.snip1477 h4 {
  margin: 0;
  text-transform: uppercase;
}
figure.snip1477 h2 {
  font-weight: 400;
  font-size: 12px;
  color: #fff;
  text-align: left;
}
figure.snip1477 h4 {
  display: block;
  font-size: 12px;
  font-weight: 600;
  background-color: #ffffff;
  padding: 2px 6px;
  color: #000000;
}
figure.snip1477 figcaption {
    position: absolute;
    bottom: 60%;
    left: 34px;
    text-align: left;
    opacity: 0;
    padding: 0px 0px 1px 0px;
    font-size: 0.8em;
    font-weight: 500;
    letter-spacing: 1.5px;
    line-height: 24px;
}

figure.snip1477 figcaption p {
  /* margin: 0; */
    position: relative;
    bottom: 45px;
}
figure.snip1477 figcaption span a {
    margin-right: 10px !important;
}
figure.snip1477 a {
  /* position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; */
}
figure.snip1477 figcaption span a {
    font-size: 40px;
}
figure.snip1477:hover img,
figure.snip1477.hover img {
  zoom: 1;
  filter: alpha(opacity=35);
  -webkit-opacity: 0.35;
  opacity: 0.35;
}
figure.snip1477:hover .title:before,
figure.snip1477.hover .title:before,
figure.snip1477:hover .title:after,
figure.snip1477.hover .title:after,
figure.snip1477:hover .title div:before,
figure.snip1477.hover .title div:before,
figure.snip1477:hover .title div:after,
figure.snip1477.hover .title div:after {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}
figure.snip1477:hover .title:before,
figure.snip1477.hover .title:before,
figure.snip1477:hover .title:after,
figure.snip1477.hover .title:after {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}
figure.snip1477:hover figcaption,
figure.snip1477.hover figcaption {
  opacity: 1;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}