
.accordion-item .accordion-header button.accordion-button {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}

.itineraryCollapse1 .accordion-body .itinerary strong {
    font-size: 14px;
}

.accordion-body .itinerary strong {
    margin-right: 16px;
}

.accordion-body .itinerary {
    max-width: 450px;
}
.accordion-body .itinerary div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
    margin-bottom: 8px;
}
table.table tr td>span:last-child {
    color: teal;
    border: 2px solid teal;
    padding: 5px 18px;
    border-radius: 4px;
    text-transform: uppercase;
}