.sticky-buttons a.active {
    background-color: #ff5300;
    color: #fff;
}

#tour-name {
    font-size: 28px;
    font-family: 'Oswald', serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 30px;
}