/*************************************** Popup Enquiry *****************************************/
.form-popup-bg {
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }
  .form-popup-bg {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(94, 110, 141, 0.9);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    transition: opacity 0.3s 0s, visibility 0s 0.3s;
    overflow-y: auto;
    z-index: 10000;
  }
  .form-popup-bg.is-visible {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
    transition: opacity 0.3s 0s, visibility 0s 0s;
  }
  .form-container {
      background-color: #2d3638;
      border-radius: 10px;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
      display: flex;
      flex-direction: column;
      width: 90%;
      max-width: 500px;
      margin-left: auto;
      margin-right: auto;
      position:relative;
    padding: 30px;
    color: #fff;
  }
  .form-control {
    display: block;
    width: 100%;
    padding: .34rem .75rem;
    font-size: .8rem;
    font-weight: 400;
    line-height: 1.8;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .15rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form-group {
    font-size: 12px;
    margin-bottom: 6px;
}
  .btnOpenForm {
    background-color: teal;
    border: none;
    border-radius: 3px;
    color: #000;
    padding: 1px 24px;
    height: 40px;
  }
  .close-button {
    background: none;
    color: #ff2e2e;
    width: 32px;
    height: 32px;
    position: absolute;
    top: 5px;
    right: 4px;
    border: solid 2px teal;
    border-radius: 8px;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .form-popup-bg:before{
      content:'';
      background-color: #fff;
    opacity: .25;
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .form-popup-bg h4 {
    color: teal;
    text-align: center;
    font-size: 26px;
  }
  .form-popup-bg textarea {
    width: 100%;
  }
  div.form-popup-bg form label > span {
    color: teal;
  }
  div.form-popup-bg.is-visible > div > form > button {
    background-color: teal;
    border: none;
    border-radius: 3px;
    color: #fff;
    padding: 1px 24px;
    height: 50px;
    float: right;
  }

  .form-popup-bg > div > form > button {
    background-color: teal;
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 1px 24px;
    height: 40px;
    float: right;
  }

  .tourName {
    text-align: center;
    font-weight: 600;
  }

 select option {
    padding: 0.5rem;
    background-color: #777;
    color: #333;
}

#cost-display {
    margin-top: 20px;
}
#cost-display > table tr th {
    color: teal;
    font-size: 10px;
    padding: .2rem .2rem;
}

#cost-display > table {
    color: wheat;
    font-size: 10px;
    padding: .2rem .2rem;
}


#booking-success-message {
    color: green;
    font-size: 14px;
}

#booking-failure-message {
    color: red;
    font-size: 14px;
}
.recaptcha-terms {
    color: wheat;
    font-size: 10px;
    margin-top: '20px';
}