#reviews > div > div > div > div > div.WidgetBackground__ContentContainer-sc-52f57cce-1.eWYlJ > div > a {
    color: #fff !important;
}
#reviews > div > div > div > div > div > a {
    display: none;
}
#reviews a {
    display: none;
}