header.header-area.style-2 .site-logo {
    padding: 0px 0;
    margin: 0;
    position: absolute;
    top: 0px;
}

#logo-sm {
    width: 104px;
    height: 70px;
}

EmailAt {
    margin-right: 10px;
}
