header.header-area.style-2 .site-logo {
    padding: 0px 0;
    margin: 0;
    position: absolute;
    top: 0px;
}

#logo-sm {
    width: 104px;
    height: 70px;
}

/* Main Menu Icons */
.main-menu-wrap .gene-nav ul.menu li.dropdown a::after {
    content: '';
    display: inline-table;
    background: url(/img/icons-sprite.webp) no-repeat;
    margin: 0 auto;
    width: 15px;
    height: 21px;
    background-position: -32px -42px;
    margin-left: 2px;
}

/* Top Contact Icons */
.header-top-contact ul li a::before {
    content: '';
    display: inline-table;
    background: url(/img/icons-sprite.webp) no-repeat;
    margin: 0 auto;
}
.header-top-contact ul li a.email::before {
    width: 22px;
    height: 22px;
    background-position: -93px -39px;
}
.header-top-contact ul li a.phone::before {
    width: 14px;
    height: 22px;
    background-position: -60px -40px;
}

.site-logo img {
    cursor: pointer;
}