table {
    width: 100%;
    font-size: 14px;
}

table tr th {
    width: '20%';
}

table thead tr th div {
    background: url(/img/icons-sprite.webp) no-repeat; 
    width: 50px; 
    height: 50px; 
    margin: 0 auto;
}

#duration {
    background-position: -48px 12px;
}
#highest-point {
    background-position: -209px 14px;
}
#distance {
    background-position: 2px 12px;
}
#lodging {
    background-position: -264px 14px;
}
#meal {
    background-position: -158px 14px;
}


table tbody tr td span {
    display: flex;
    justify-content: center;
}