.intro h2 {
    font-size: 25px;
    font-family: "Oswald", sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 100px;
}

@media only screen and (max-width: 768px) {
    .intro h2 {
        margin-top: 50px;
    }
}

/* Intro Read More */
.readmore-button {
    float: right;
    color: teal;
    text-transform: uppercase;
    font-weight: 600;
}
p.more-intro {
    transition: height .5s ease;
    overflow  : hidden;
}

p.more-intro:not(.active) {
    display: none;
}
   